.checkbox {
    float: left;
}

.todo {
    width: 20%;
    box-sizing: border-box;
    background-color: lightblue;
    padding: .25em;
    border-radius: 1em;
    margin-bottom: 1em;
}

.todo h3 {
    margin: 0px;
}

.todo p {
    margin: 0px;
}

.complete {
    text-decoration: line-through;
    background-color: lightgreen;
}

label {
    display: inline-block;
    width: 5%;
    margin-right: 2em;
    
}